@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
    /* background: #000; */
}
body{
    background: #1a1a1a;
 

}
/* shared styles
 */
.titlefont{
    color: #ffffff;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;

}
.desfont{
    color: rgba(255, 255, 255, 0.5);
    font-size: .9rem;
    font-weight: 400;
    text-align: center;

}
.join-btn{
    font-size:1.1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background: rgb(230, 83, 60);
    padding:14px 40px;
    border-radius: 42px;
    border: 1px solid rgb(230, 83, 60);
}

/* banner styles */
.banner{
    width: 1440px;
     height: 715px;
    padding: 57px 190px 0px 190px;
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 1) 100%); */
} 
.nav{
   
    display: flex;
    gap: 463px;
}
.logo{
    margin: 0px 10px;
    color: rgb(230, 83, 60);
    font-size: 2.2rem;
    font-weight: 800;

}
.menu-items{
   
    display: flex;
    gap: 47px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    list-style: none;
    
}
.list{
    margin: 0px 10px;
    padding: 8px 20px;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    text-align: center;
    font-weight: 400;
}
.home{
    color: rgb(255, 255, 255);
    background-color: rgb(230, 83, 60);
    padding: 8px 20px;
    border-radius: 46px;
    font-size: 1.1rem;
    font-weight: 600;
 
}
.title{
    margin: 71px 0px;
}

.title-get{
    font-size: 78px;
    font-weight: 900;
    text-align: left;
    color: rgb(255, 255, 255);
    width: 520px;
    height: 281px;
    line-height: 120%;
    ;
    
}
.shape{
    font-size: 155px;
    font-weight: 400;
    font-family: miama;
    position: relative;
}
/* .title{
    padding: 57px 190px;
} */
.heading{
    display: flex;
    gap: 250px;
}
.picture{ 
     width: 350px;
    height: 580px;
    padding-top: 35px;

}
.description{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin: 28px 0px;
}
/* .invite{
    font-size:1.1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background: rgb(230, 83, 60);
    padding:14px 40px;
    border-radius: 42px;
    border: 1px solid rgb(230, 83, 60);
} */
.app{
    padding: 14px 40px;
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    
    border-radius: 42px;
    border: 1px solid rgb(237, 232, 232);
    background: transparent;
}

.box-1h2{
    font-size:2.5rem;
    font-weight: 900;
}
.free{
    font-size: .9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
}
.box-1{
    padding: 10px 21px 20px 21px;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(25px);
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 63%;
    width: 210px;
    height: 100px;
    position: absolute;
    bottom: 52%;
    color: #fff;

}

/* box-2 styles */
.tutorial{
    font-size: .9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
}
.box-2h2{
    font-size: 2.5rem;
    font-weight: 900;
}
.box-2{
    padding: 10px 21px 20px 21px;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(25px);
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 40%;
    width: 210px;
    height: 100px;
    position: absolute;
    bottom:13%;
    color: #fff;
    display: flex;

}
.circle{

    margin-top:14px;
    margin-right: 8px;
    background-color: rgb(230, 83, 60);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
/* main styles */
main{
    padding: 58px 190px 50px;
    
}
/* .change-title{

    color: #ffffff;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;


} */
/* .change-des{
    color: rgba(255, 255, 255, 0.5);
    font-size: .9rem;
    font-weight: 400;
    text-align: center;

} */
 .change{
    padding: 0 290px;

}
.ex-items{
    display: flex;
    gap: 15px;

}
.ex-items img{
    border-radius: 50%;
    padding: auto;
    height: 180px;
    width: 270px;
    margin-top: 58px;
}
.ex-items h5{
    font-weight: 600;
    font-size: 1.1rem;
    color: #fff;

}

.ex-items p{
    font-weight: 400;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);

}
   

 /* Run an Extra Mile Easily */
.run-parent{
    padding: 41px 35px 40px 55px;
    margin-top: 60px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    
}
.run{
    flex-direction: column;
    justify-content: space-around;
    width:450px;
}   
.run-parent img{
    width: 365px;
    height: 310px;
    border-radius: 18px;
}
.runp,.runh2,.renbtn,.trainh2,.trainp{
    margin-bottom: 30px;
    text-align: justify;
    
  

}

/* Trainings and Exercises */
.trainp{
    padding-right: 48%;
}

/* Training pictures design */



/* 
BMI section design */
.bmi-form input{
    width: 240px;
    margin-bottom: 30px;
}
.bmi-calc{
    width: 50vw;
}
.bmih2p{
    margin: 88px 280px;
    justify-content: center;
}
.bmih2,.bmip{
    text-align: justify;
    
}
.bmi-main{
    margin: 0;
    background:rgb(34, 34, 34, .5); ;
    width:100%;
    height:500px;
    margin-bottom: 88px;
    border-radius: 15px;
    display: flex;
    gap: 250px;
    justify-content: space-between;
    padding: 50px 90px  50px ;
}
.chart{
    padding: 52px auto 135px;
    width: 316px;
    height: 220px;
}
.bmi-calc{
    

}
.main-bmi{
    padding: 20px;
}
/* table design */
.form-table{
    font-weight: 900;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    padding-bottom: 30px;

}
td{
    font-weight: 400;
    font-size: .9prem;
    color: rgba(255, 255, 255, 0.5);
    padding: 8px;
    
}
th{
    padding: 10px;
    font-weight: 500;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}
table, th, td {
    border: 0.5px solid rgba(255, 255, 255, 0.1);
  }
  .table{
    margin:
    

  }
/* Meet Our Team */
.trainer-title{
    margin: 60px;
}
.pic-trainer{
    border-radius: 18px;

    background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px;
}
.pic-trainer img{
    width:325px ;
    height: 272px;
    border-radius: 18px;
    margin: 5px;
    background: rgba(0, 0, 0, 0.2);
}
.tpic-1h4{
    position: relative;
    color: #fff;
}
.tpic-1p{
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
}
.tpic-1, img{
    width: 100%;
}

/* footer styles */
.footer{
    padding: 0 30px ;
   
}
.footer-title{
    font-weight: 800;
    font-size: 5rem;
    color: rgb(230, 83, 60);
    width: 256px;
    margin-bottom: 20px;
}
.footerdes{
    width: 456px;
    text-align: justify;
}
.main-footer{
    display: flex;
    justify-content: space-between;
    gap: 190px;
   
    align-items: center;
    

}
.sec-footer{
    display: flex;
    gap: 160px;
}
.footer-li{
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
    list-style: none;
}
.footer-get{
    font-weight: 700;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 20px;

}
.footer-para{
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 30px;
   
}
.hr{
    margin-top: 30px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.f-footer{
    margin-top: 88px;
    padding: 80px 190px;
    background: rgba(255, 255, 255, 0.1);
}
